::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b3b3b3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Animate scroll behavior */
html {
    scroll-behavior: smooth;
}


/* Animate border */
.rotating-border {
    animation: rotating-border 3s ease-in-out 0s infinite forwards;
}

@keyframes rotating-border {
    0% {
        border-top: 1px solid rgba(255, 255, 255, 0);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0);
    }
    25% {
        border-top: 1px solid rgba(255, 255, 255, 0);
        border-right: 1px solid rgba(255, 255, 255, 0);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
    50% {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0);
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
    75% {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        border-left: 1px solid rgba(255, 255, 255, 0);
    }
    100% {
        border-top: 1px solid rgba(255, 255, 255, 0);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0);
    }
}

@keyframes slide-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-120%)
    }  
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slide-in-from-right {
    0% {
        opacity: 0;
        transform: translateX(120%)
    }  
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


